.home {
  padding: 0 2%;
}

.home__summary {
  display: flex;
  justify-content: space-between;
}
.home__sets-count {
  font-weight: 600;
  color: #142433;
}

.home__items-count-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.home__item-count {
  margin-left: 0.8rem;
}

.home__item-count-icon {
  height: 14px;
  width: 14px;
}
