.type-link__link {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.type-link__link_disabled {
  background-color: rgba(20, 36, 51, 0.5);
  pointer-events: none;
}

.type-link__title {
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: #142433;
  font-weight: 600;
}

.type-link__item:active {
  transform: scale(1.08, 1.08);
}
